.services-page-header {
  position: relative;
}

.services-page-header-img {
  background-image: url(/images/Services/Header/Header.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  filter: brightness(50%);
}

.services-page-header-content {
  position: absolute;
  z-index: 10000;
  top: 35%;
  padding-left: 20px;
  width: 50%;
  margin-top: 25px;
}

.services-page-header-h3 {
  font-size: 30px;
  color: #ffb109;
}

.services-page-header-h1 {
  display: inline-block;
  font-size: 70px;
  line-height: 1.1;
  color: white;
  margin-top: 15px;
  border-bottom: 2px solid gold;
}

.services-page-header-p {
  font-size: 22px;
  color: white;
  margin-top: 35px;
  margin-bottom: 15px;
}

@media screen and (max-width: 760px) {
  .services-page-content {
    top: 3%;
    width: 100%;
    text-align: center;
  }

  .services-page-header-h1 {
    font-size: 40px;
  }

  .services-page-header-p {
    padding: 10px;
  }

  .services-page-header-content {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
