.products-page {
  position: relative;
}

.projects-page-header-image {
  background-image: url(/images/ProjectsPage/Header/Header.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  filter: brightness(50%);
}

.projects-page-header-content {
  position: absolute;
  z-index: 10000;
  top: 35%;
  padding-left: 20px;
  width: 60%;
  margin-top: 25px;
}

.projects-page-header-content h3 {
  font-size: 30px;
  color: #ffb109;
}

.projects-page-header-content h1 {
  display: inline-block;
  font-size: 74px;
  line-height: 1.1;
  color: white;
  margin-top: 15px;
  border-bottom: 2px solid gold;
}

.projects-page-header-content p {
  font-size: 18px;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1030px) {
  .projects-page-header-content {
    top: 0%;
  }
}

@media screen and (max-width: 760px) {
  .projects-page-header-image {
    height: 65vh;
  }

  .projects-page-header-content {
    top: 40%;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .projects-page-header-content h1 {
    font-size: 38px;
  }

  .projects-page-header-content p {
    padding: 10px;
  }
}
